# Cosine Similarity 餘弦相似度

## cos data匯入

In [195]:
import pandas as pd
import numpy as np
cos1 = pd.read_csv('/Users/hsieh/Downloads/cos_a1.csv')
print(cos1.head())
cos1.shape
cos1_len = len(cos1.columns)

#cos1.quantile([.1, .25, .5], axis = 0)

       word       x1       x2       x3       x4       x5       x6       x7  \
0  airplane  0.76030 -0.29243  0.21963 -0.54849  0.08876  0.96001  0.13355
1     beach  0.92768  0.93720 -0.70419  0.66324  0.36995 -0.03304 -0.85956
2   company  0.59972 -0.86568  0.98532  0.28760  0.29583  0.24378  0.58205
3     money -0.42560 -0.35914 -0.92060 -0.16842  0.38835 -0.16788  0.21537
4      wine -0.90236  0.67156 -0.78158  0.65920 -0.92451 -0.90356 -0.72575

        x8       x9  ...      x41      x42      x43      x44      x45  \
0  0.33537 -0.41289  ... -0.11721 -0.86708  0.50353 -0.44880 -0.01190
1 -0.03122 -0.74422  ...  0.79950 -0.27140 -0.13457 -0.00119 -0.12581
2 -0.68428 -0.21353  ... -0.04081  0.68693 -0.05853 -0.93420 -0.67201
3  0.35251 -0.28432  ... -0.18583 -0.58304 -0.58131 -0.55434  0.41802
4 -0.86411 -0.33202  ... -0.32182  0.92887 -0.31721 -0.20863 -0.05857

       x46      x47      x48      x49      x50
0 -0.52148 -0.12889 -0.20130  0.07239  0.63944
1 -0.27554  0.23386 -0.20019  0.73698  0.27505
2 -0.67856 -0.92649 -0.16101 -0.07404  0.30765
3 -0.29154  0.74722  0.51134 -0.37012 -0.00587
4  0.43929  0.61840 -0.15220 -0.46267  0.12214

[5 rows x 51 columns]

In [196]:
# 了解目前系統編碼原則
import sys
print(sys.getdefaultencoding()) 

# 轉碼
## method1：另存新檔

# 開啟Big5 輸入檔案
inFile = open('/Users/hsieh/Downloads/cos_a2.csv', 'r', encoding = 'Big5')

# 開啟UTF-8輸出檔案
outFile = open('/Users/hsieh/Downloads/cos_a2_utf8.csv', 'w', encoding='UTF-8')

# 以Big5編碼讀取檔案
content = inFile.read()
# 以UTF-8編碼寫入檔案
outFile.write(content)

# 關閉檔案
inFile.close()
outFile.close()

utf-8

In [197]:
cos2 = pd.read_csv('/Users/hsieh/Downloads/cos_a2_utf8.csv')

print(cos2.head())
cos2_len = len(cos2.columns)

#cos2.quantile([.1, .25, .5], axis = 0)

  word       x1       x2       x3       x4       x5       x6       x7  \
0   電信  0.08512  0.71236  0.97080 -0.65088 -0.35349 -0.01062  0.13594
1   娛樂 -0.03229  0.32027  0.02628  0.83389  0.44232  0.32387  0.12808
2   飲食 -0.30166 -0.80396 -0.03770 -0.07119  0.51214 -0.88410  0.91825
3   工作 -0.21242  0.60048  0.40395 -0.45317 -0.72590 -0.95586 -0.55033
4   其他 -0.81556  0.77646 -0.23344 -0.05515  0.15636 -0.98196  0.91148

        x8       x9  ...      x41      x42      x43      x44      x45  \
0  0.56301  0.76103  ...  0.91896 -0.05076  0.13018 -0.77484  0.27393
1 -0.56437  0.85170  ... -0.14576 -0.88940 -0.00593 -0.67063 -0.05713
2  0.74748  0.23407  ... -0.65568 -0.01455 -0.31517  0.41715 -0.26791
3 -0.50572 -0.37572  ... -0.20149 -0.29745 -0.22910  0.45051 -0.20223
4  0.68085 -0.27819  ... -0.45726 -0.17924  0.93577 -0.98173  0.91490

       x46      x47      x48      x49      x50
0 -0.30547  0.21840 -0.79273  0.72521  0.55864
1 -0.47931  0.62492  0.17250  0.66306  0.80183
2 -0.16543 -0.07553 -0.02354  0.11964  0.23436
3  0.26673  0.13882  0.48059  0.90964 -0.59566
4  0.83299 -0.56204  0.82362 -0.37546  0.89169

[5 rows x 51 columns]

In [198]:
cos1['key'] = 1
cos2['key'] = 1

cos12 = pd.merge(cos1, cos2, on = 'key').drop('key', 1)
cos12.head()

,word_x,x1_x,x2_x,x3_x,x4_x,x5_x,x6_x,x7_x,x8_x,x9_x,...,x41_y,x42_y,x43_y,x44_y,x45_y,x46_y,x47_y,x48_y,x49_y,x50_y
0,airplane,0.7603,-0.29243,0.21963,-0.54849,0.08876,0.96001,0.13355,0.33537,-0.41289,...,0.91896,-0.05076,0.13018,-0.77484,0.27393,-0.30547,0.21840,-0.79273,0.72521,0.55864
1,airplane,0.7603,-0.29243,0.21963,-0.54849,0.08876,0.96001,0.13355,0.33537,-0.41289,...,-0.14576,-0.88940,-0.00593,-0.67063,-0.05713,-0.47931,0.62492,0.17250,0.66306,0.80183
2,airplane,0.7603,-0.29243,0.21963,-0.54849,0.08876,0.96001,0.13355,0.33537,-0.41289,...,-0.65568,-0.01455,-0.31517,0.41715,-0.26791,-0.16543,-0.07553,-0.02354,0.11964,0.23436
3,airplane,0.7603,-0.29243,0.21963,-0.54849,0.08876,0.96001,0.13355,0.33537,-0.41289,...,-0.20149,-0.29745,-0.22910,0.45051,-0.20223,0.26673,0.13882,0.48059,0.90964,-0.59566
4,airplane,0.7603,-0.29243,0.21963,-0.54849,0.08876,0.96001,0.13355,0.33537,-0.41289,...,-0.45726,-0.17924,0.93577,-0.98173,0.91490,0.83299,-0.56204,0.82362,-0.37546,0.89169

In [199]:
cos12['group'] = cos12['word_x'] + cos12['word_y']
print(cos12['group'].head())
cos12 = cos12.drop(columns = ['word_x', 'word_y'])
cos12.shape

0    airplane電信
1    airplane娛樂
2    airplane飲食
3    airplane工作
4    airplane其他
Name: group, dtype: object

(50, 101)

In [213]:
# 計算 [xiyi = (xi-yi) ** 2] & [xiyi = xi * yi]
cos_si_new = pd.DataFrame()
cos_si_new['group'] = cos12['group']

for i in range(1, cos1_len):
    cos_si_new['xx' + str(i)] = cos12['x' + str(i) + '_x'] ** 2
    for j in range(1, cos2_len):

        cos_si_new['x' + str(i) + 'y' + str(i)] = cos12['x' + str(i) + '_x'] * cos12['x' + str(i) + '_y']
        cos_si_new['yy' + str(j)] = cos12['x' + str(j) + '_y'] ** 2
#        print(cos_si_new)
    
print(cos_si_new.head(2))   
print(cos_si_new.tail(2))
print(cos_si_new.columns.values)

        group       xx1      x1y1       yy1       yy2       yy3       yy4  \
0  airplane電信  0.578056  0.064717  0.007245  0.507457  0.942453  0.423645
1  airplane娛樂  0.578056 -0.024550  0.001043  0.102573  0.000691  0.695373

        yy5       yy6       yy7  ...      xx46    x46y46      xx47    x47y47  \
0  0.124955  0.000113  0.018480  ...  0.271941  0.159296  0.016613 -0.028150
1  0.195647  0.104892  0.016404  ...  0.271941  0.249951  0.016613 -0.080546

       xx48    x48y48     xx49    x49y49      xx50    x50y50
0  0.040522  0.159577  0.00524  0.052498  0.408884  0.357217
1  0.040522 -0.034724  0.00524  0.047999  0.408884  0.512722

[2 rows x 151 columns]
     group       xx1      x1y1       yy1       yy2       yy3       yy4  \
48  food工作  0.452781 -0.142935  0.045122  0.360576  0.163176  0.205363
49  food其他  0.452781 -0.548782  0.665138  0.602890  0.054494  0.003042

         yy5       yy6       yy7  ...      xx46    x46y46      xx47    x47y47  \
48  0.526931  0.913668  0.302863  ...  0.030307 -0.046435  0.794416  0.123730
49  0.024448  0.964245  0.830796  ...  0.030307 -0.145015  0.794416 -0.500946

        xx48    x48y48      xx49    x49y49      xx50    x50y50
48  0.359544 -0.288171  0.969851 -0.895823  0.008254  0.054116
49  0.359544 -0.493859  0.969851  0.369757  0.008254 -0.081010

[2 rows x 151 columns]
['group' 'xx1' 'x1y1' 'yy1' 'yy2' 'yy3' 'yy4' 'yy5' 'yy6' 'yy7' 'yy8'
 'yy9' 'yy10' 'yy11' 'yy12' 'yy13' 'yy14' 'yy15' 'yy16' 'yy17' 'yy18'
 'yy19' 'yy20' 'yy21' 'yy22' 'yy23' 'yy24' 'yy25' 'yy26' 'yy27' 'yy28'
 'yy29' 'yy30' 'yy31' 'yy32' 'yy33' 'yy34' 'yy35' 'yy36' 'yy37' 'yy38'
 'yy39' 'yy40' 'yy41' 'yy42' 'yy43' 'yy44' 'yy45' 'yy46' 'yy47' 'yy48'
 'yy49' 'yy50' 'xx2' 'x2y2' 'xx3' 'x3y3' 'xx4' 'x4y4' 'xx5' 'x5y5' 'xx6'
 'x6y6' 'xx7' 'x7y7' 'xx8' 'x8y8' 'xx9' 'x9y9' 'xx10' 'x10y10' 'xx11'
 'x11y11' 'xx12' 'x12y12' 'xx13' 'x13y13' 'xx14' 'x14y14' 'xx15' 'x15y15'
 'xx16' 'x16y16' 'xx17' 'x17y17' 'xx18' 'x18y18' 'xx19' 'x19y19' 'xx20'
 'x20y20' 'xx21' 'x21y21' 'xx22' 'x22y22' 'xx23' 'x23y23' 'xx24' 'x24y24'
 'xx25' 'x25y25' 'xx26' 'x26y26' 'xx27' 'x27y27' 'xx28' 'x28y28' 'xx29'
 'x29y29' 'xx30' 'x30y30' 'xx31' 'x31y31' 'xx32' 'x32y32' 'xx33' 'x33y33'
 'xx34' 'x34y34' 'xx35' 'x35y35' 'xx36' 'x36y36' 'xx37' 'x37y37' 'xx38'
 'x38y38' 'xx39' 'x39y39' 'xx40' 'x40y40' 'xx41' 'x41y41' 'xx42' 'x42y42'
 'xx43' 'x43y43' 'xx44' 'x44y44' 'xx45' 'x45y45' 'xx46' 'x46y46' 'xx47'
 'x47y47' 'xx48' 'x48y48' 'xx49' 'x49y49' 'xx50' 'x50y50']

In [201]:
# 產出columns order
cols = ['group']
for i in range(1, cos1_len):
    cols.append('xx' + str(i))

for i in range(1, cos1_len):
    cols.append('yy' + str(i))
        
for i in range(1, cos1_len):
    cols.append('x' + str(i) + 'y' + str(i))
            
print(cols)

['group', 'xx1', 'xx2', 'xx3', 'xx4', 'xx5', 'xx6', 'xx7', 'xx8', 'xx9', 'xx10', 'xx11', 'xx12', 'xx13', 'xx14', 'xx15', 'xx16', 'xx17', 'xx18', 'xx19', 'xx20', 'xx21', 'xx22', 'xx23', 'xx24', 'xx25', 'xx26', 'xx27', 'xx28', 'xx29', 'xx30', 'xx31', 'xx32', 'xx33', 'xx34', 'xx35', 'xx36', 'xx37', 'xx38', 'xx39', 'xx40', 'xx41', 'xx42', 'xx43', 'xx44', 'xx45', 'xx46', 'xx47', 'xx48', 'xx49', 'xx50', 'yy1', 'yy2', 'yy3', 'yy4', 'yy5', 'yy6', 'yy7', 'yy8', 'yy9', 'yy10', 'yy11', 'yy12', 'yy13', 'yy14', 'yy15', 'yy16', 'yy17', 'yy18', 'yy19', 'yy20', 'yy21', 'yy22', 'yy23', 'yy24', 'yy25', 'yy26', 'yy27', 'yy28', 'yy29', 'yy30', 'yy31', 'yy32', 'yy33', 'yy34', 'yy35', 'yy36', 'yy37', 'yy38', 'yy39', 'yy40', 'yy41', 'yy42', 'yy43', 'yy44', 'yy45', 'yy46', 'yy47', 'yy48', 'yy49', 'yy50', 'x1y1', 'x2y2', 'x3y3', 'x4y4', 'x5y5', 'x6y6', 'x7y7', 'x8y8', 'x9y9', 'x10y10', 'x11y11', 'x12y12', 'x13y13', 'x14y14', 'x15y15', 'x16y16', 'x17y17', 'x18y18', 'x19y19', 'x20y20', 'x21y21', 'x22y22', 'x23y23', 'x24y24', 'x25y25', 'x26y26', 'x27y27', 'x28y28', 'x29y29', 'x30y30', 'x31y31', 'x32y32', 'x33y33', 'x34y34', 'x35y35', 'x36y36', 'x37y37', 'x38y38', 'x39y39', 'x40y40', 'x41y41', 'x42y42', 'x43y43', 'x44y44', 'x45y45', 'x46y46', 'x47y47', 'x48y48', 'x49y49', 'x50y50']

In [214]:
# 更換columns order
cos_si_new = cos_si_new.reindex(columns = cols)
print(cos_si_new.head(2))
cos_si_new.columns.values

# method2
#cos_si = cos_si_new[cols]
#cos_si.head(2)

        group       xx1       xx2       xx3       xx4       xx5       xx6  \
0  airplane電信  0.578056  0.085515  0.048237  0.300841  0.007878  0.921619
1  airplane娛樂  0.578056  0.085515  0.048237  0.300841  0.007878  0.921619

        xx7       xx8       xx9  ...    x41y41    x42y42    x43y43    x44y44  \
0  0.017836  0.112473  0.170478  ... -0.107711  0.044013  0.065550  0.347748
1  0.017836  0.112473  0.170478  ...  0.017085  0.771181 -0.002986  0.300979

    x45y45    x46y46    x47y47    x48y48    x49y49    x50y50
0 -0.00326  0.159296 -0.028150  0.159577  0.052498  0.357217
1  0.00068  0.249951 -0.080546 -0.034724  0.047999  0.512722

[2 rows x 151 columns]

,group,xx1,xx2,xx3,xx4,xx5,xx6,xx7,xx8,xx9,...,x41y41,x42y42,x43y43,x44y44,x45y45,x46y46,x47y47,x48y48,x49y49,x50y50
0,airplane電信,0.578056,0.085515,0.048237,0.300841,0.007878,0.921619,0.017836,0.112473,0.170478,...,-0.107711,0.044013,0.065550,0.347748,-0.00326,0.159296,-0.028150,0.159577,0.052498,0.357217
1,airplane娛樂,0.578056,0.085515,0.048237,0.300841,0.007878,0.921619,0.017836,0.112473,0.170478,...,0.017085,0.771181,-0.002986,0.300979,0.00068,0.249951,-0.080546,-0.034724,0.047999,0.512722

In [215]:
# 產出 square root(sum_xx), square root(sum_yy), sum(xiyi), cos_similarity
cos_si_new['sr_sum_xx'] = cos_si_new.iloc[:, 1:51].sum(axis = 1) ** .5
cos_si_new['sr_sum_yy'] = cos_si_new.iloc[:, 51:101].sum(axis = 1) ** .5
cos_si_new['sum_xy'] = cos_si_new.iloc[:, 101:151].sum(axis = 1)
cos_si_new['cos_similarity'] = cos_si_new['sum_xy'] / (cos_si_new['sr_sum_xx'] * cos_si_new['sr_sum_yy'])
print(cos_si_new.head(5))
print(cos_si_new.tail(5))

        group       xx1       xx2       xx3       xx4       xx5       xx6  \
0  airplane電信  0.578056  0.085515  0.048237  0.300841  0.007878  0.921619
1  airplane娛樂  0.578056  0.085515  0.048237  0.300841  0.007878  0.921619
2  airplane飲食  0.578056  0.085515  0.048237  0.300841  0.007878  0.921619
3  airplane工作  0.578056  0.085515  0.048237  0.300841  0.007878  0.921619
4  airplane其他  0.578056  0.085515  0.048237  0.300841  0.007878  0.921619

        xx7       xx8       xx9  ...    x45y45    x46y46    x47y47    x48y48  \
0  0.017836  0.112473  0.170478  ... -0.003260  0.159296 -0.028150  0.159577
1  0.017836  0.112473  0.170478  ...  0.000680  0.249951 -0.080546 -0.034724
2  0.017836  0.112473  0.170478  ...  0.003188  0.086268  0.009735  0.004739
3  0.017836  0.112473  0.170478  ...  0.002407 -0.139094 -0.017893 -0.096743
4  0.017836  0.112473  0.170478  ... -0.010887 -0.434388  0.072441 -0.165795

     x49y49    x50y50  sr_sum_xx  sr_sum_yy    sum_xy  cos_similarity
0  0.052498  0.357217   3.454535   4.152558 -2.369505       -0.165178
1  0.047999  0.512722   3.454535   3.500409  2.001440        0.165514
2  0.008661  0.149859   3.454535   3.566516 -1.204522       -0.097764
3  0.065849 -0.380889   3.454535   4.513646  1.289263        0.082685
4 -0.027180  0.570182   3.454535   4.512488 -4.553820       -0.292126

[5 rows x 155 columns]
     group       xx1       xx2       xx3       xx4       xx5       xx6  \
45  food電信  0.452781  0.767867  0.087652  0.056406  0.551915  0.516084
46  food娛樂  0.452781  0.767867  0.087652  0.056406  0.551915  0.516084
47  food飲食  0.452781  0.767867  0.087652  0.056406  0.551915  0.516084
48  food工作  0.452781  0.767867  0.087652  0.056406  0.551915  0.516084
49  food其他  0.452781  0.767867  0.087652  0.056406  0.551915  0.516084

         xx7       xx8       xx9  ...    x45y45    x46y46    x47y47    x48y48  \
45  0.323954  0.405069  0.023985  ...  0.006300  0.053179  0.194660  0.475337
46  0.323954  0.405069  0.023985  ... -0.001314  0.083443  0.556991 -0.103434
47  0.323954  0.405069  0.023985  ... -0.006162  0.028800 -0.067320  0.014115
48  0.323954  0.405069  0.023985  ... -0.004651 -0.046435  0.123730 -0.288171
49  0.323954  0.405069  0.023985  ...  0.021043 -0.145015 -0.500946 -0.493859

      x49y49    x50y50  sr_sum_xx  sr_sum_yy    sum_xy  cos_similarity
45 -0.714194 -0.050752   3.563819   4.152558  0.948364        0.064083
46 -0.652988 -0.072846   3.563819   3.500409  0.194802        0.015616
47 -0.117823 -0.021292   3.563819   3.566516  1.779161        0.139977
48 -0.895823  0.054116   3.563819   4.513646 -4.252184       -0.264344
49  0.369757 -0.081010   3.563819   4.512488 -1.357397       -0.084406

[5 rows x 155 columns]

In [211]:
#cos_si_new.iloc[:, 1:51].sum(axis = 1)
cos_si_new['cos_similarity'].head()

0   -0.165178
1    0.165514
2   -0.097764
3    0.082685
4   -0.292126
Name: cos_similarity, dtype: float64

In [216]:
# 排序
cos_si_new_sort = cos_si_new.sort_values(by = 'cos_similarity', ascending=False)
print(cos_si_new_sort.head(5))

# 產出最接近1的組合與值
print('\033[1m' + 'The most similar group is : '+ cos_si_new_sort['group'].iloc[0] + ' and value is '+ str(cos_si_new_sort['cos_similarity'].iloc[0]))

          group       xx1       xx2       xx3       xx4       xx5       xx6  \
42       mail飲食  0.169629  0.182124  0.137656  0.169859  0.463611  0.977824
23       wine工作  0.814254  0.450993  0.610867  0.434545  0.854719  0.816421
8       beach工作  0.860590  0.878344  0.495884  0.439887  0.136863  0.001092
27  cellphone飲食  0.004318  0.005091  0.846529  0.217072  0.018474  0.067148
1    airplane娛樂  0.578056  0.085515  0.048237  0.300841  0.007878  0.921619

         xx7       xx8       xx9  ...    x45y45    x46y46    x47y47    x48y48  \
42  0.016817  0.305312  0.616319  ... -0.042584 -0.003869 -0.061242  0.004180
23  0.526713  0.746686  0.110237  ...  0.011845  0.117172  0.085846 -0.073146
8   0.738843  0.000975  0.553863  ...  0.025443 -0.073495  0.032464 -0.096209
27  0.417381  0.068095  0.002287  ...  0.010098  0.150961  0.052930 -0.014317
1   0.017836  0.112473  0.170478  ...  0.000680  0.249951 -0.080546 -0.034724

      x49y49    x50y50  sr_sum_xx  sr_sum_yy    sum_xy  cos_similarity
42 -0.012166 -0.030938   3.957114   3.566516  2.939310        0.208268
23 -0.420863 -0.072754   4.054355   4.513646  3.487319        0.190565
8   0.670386 -0.163836   4.194989   4.513646  3.548651        0.187415
27 -0.057388  0.181737   4.082765   3.566516  2.497422        0.171512
1   0.047999  0.512722   3.454535   3.500409  2.001440        0.165514

[5 rows x 155 columns]
The most similar group is : mail飲食 and value is 0.20826803209283112

In [111]:
# 確認變數位置
cos_si_new.iloc[:, 101:151].head(2)

,x1y1,x2y2,x3y3,x4y4,x5y5,x6y6,x7y7,x8y8,x9y9,x10y10,...,x41y41,x42y42,x43y43,x44y44,x45y45,x46y46,x47y47,x48y48,x49y49,x50y50
0,0.064717,-0.208315,0.213217,0.357001,-0.031376,-0.010195,0.018155,0.188817,-0.314222,0.195570,...,-0.107711,0.044013,0.065550,0.347748,-0.00326,0.159296,-0.028150,0.159577,0.052498,0.357217
1,-0.024550,-0.093657,0.005772,-0.457380,0.039260,0.310918,0.017105,-0.189273,-0.351658,0.099997,...,0.017085,0.771181,-0.002986,0.300979,0.00068,0.249951,-0.080546,-0.034724,0.047999,0.512722

In [53]:
# 暫無用到
d = pd.DataFrame()
for i in range(1, cos1_len):
    d['xx' + str(i)] = cos1['x' + str(i)] ** 2

d['xx'] = d.sum(axis = 1) ** .5
print(d.head())

        xx1       xx2       xx3       xx4       xx5       xx6       xx7  \
0  0.578056  0.085515  0.048237  0.300841  0.007878  0.921619  0.017836
1  0.860590  0.878344  0.495884  0.439887  0.136863  0.001092  0.738843
2  0.359664  0.749402  0.970856  0.082714  0.087515  0.059429  0.338782
3  0.181135  0.128982  0.847504  0.028365  0.150816  0.028184  0.046384
4  0.814254  0.450993  0.610867  0.434545  0.854719  0.816421  0.526713

        xx8       xx9      xx10  ...      xx42      xx43      xx44      xx45  \
0  0.112473  0.170478  0.083614  ...  0.751828  0.253542  0.201421  0.000142
1  0.000975  0.553863  0.657753  ...  0.073658  0.018109  0.000001  0.015828
2  0.468239  0.045595  0.252255  ...  0.471873  0.003426  0.872730  0.451597
3  0.124263  0.080838  0.147356  ...  0.339936  0.337921  0.307293  0.174741
4  0.746686  0.110237  0.012989  ...  0.862799  0.100622  0.043526  0.003430

       xx46      xx47      xx48      xx49      xx50        xx
0  0.271941  0.016613  0.040522  0.005240  0.408884  3.454535
1  0.075922  0.054690  0.040076  0.543140  0.075653  4.194989
2  0.460444  0.858384  0.025924  0.005482  0.094649  4.138815
3  0.084996  0.558338  0.261469  0.136989  0.000034  3.646531
4  0.192976  0.382419  0.023165  0.214064  0.014918  4.054355

[5 rows x 51 columns]

## 改完Function 寫法

In [249]:
def cos_silimarity(data1, data2, key):
    data1_data2 = pd.merge(data1, data2, on = key).drop(key, 1)
    data1_data2['group'] = data1_data2['word_x'] + data1_data2['word_y']
    data1_data2 = data1_data2.drop(columns = ['word_x', 'word_y'])
    
    data1_len = len(data1.columns)-1
    data2_len = len(data2.columns)-1
    cos_new = pd.DataFrame()
    cos_new['group'] = data1_data2['group']
    
    for i in range(1, data1_len):
        cos_new['xx' + str(i)] = data1_data2['x' + str(i) + '_x'] ** 2
        for j in range(1, data2_len):
            cos_new['x' + str(i) + 'y' + str(i)] = data1_data2['x' + str(i) + '_x'] * data1_data2['x' + str(i) + '_y']
            cos_new['yy' + str(j)] = data1_data2['x' + str(j) + '_y'] ** 2
#        print(cos_si_new)

###########################################
# columns name

    
    cols = ['group']
    for i in range(1, data1_len):
        cols.append('xx' + str(i))
    for i in range(1, data2_len):
        cols.append('yy' + str(i))
    for i in range(1, data1_len):
        cols.append('x' + str(i) + 'y' + str(i))
        
# 更換columns order
    cos_new = cos_new.reindex(columns = cols)

###########################################
# 產出 square root(sum_xx), square root(sum_yy), sum(xiyi), cos_similarity
    cos_new['sr_sum_xx'] = cos_new.iloc[:, 1:51].sum(axis = 1) ** .5
    cos_new['sr_sum_yy'] = cos_new.iloc[:, 51:101].sum(axis = 1) ** .5
    cos_new['sum_xy'] = cos_new.iloc[:, 101:151].sum(axis = 1)
    cos_new['cos_similarity'] = cos_new['sum_xy'] / (cos_new['sr_sum_xx'] * cos_new['sr_sum_yy'])
    
# 排序
    cos_new_sort = cos_new.sort_values(by = 'cos_similarity', ascending = False)    
    
# 產出最接近1的組合與值
    answer = ['The most similar group is : '+ cos_new_sort['group'].iloc[0]\
              + ' and value is '+ str(cos_new_sort['cos_similarity'].iloc[0])]
    
    return answer

In [250]:
cos_silimarity(cos1, cos2, 'key')

['The most similar group is : mail飲食 and value is 0.20826803209283112']

### 以下暫無用到

In [84]:
def vector_len(data, new_df, vector_len, col_name, variable):
    new_df = pd.DataFrame()
    for i in range(1, vector_len):
        new_df[col_name + str(i)] = data[variable + str(i)] ** 2
    new_df[col_name + '_sum'] = new_df.sum(axis=1) ** .5
    print(new_df.head())
    return new_df

In [85]:
vector_len(cos1, d, cos1_len, 'xx', 'x')

        xx1       xx2       xx3       xx4       xx5       xx6       xx7  \
0  0.578056  0.085515  0.048237  0.300841  0.007878  0.921619  0.017836
1  0.860590  0.878344  0.495884  0.439887  0.136863  0.001092  0.738843
2  0.359664  0.749402  0.970856  0.082714  0.087515  0.059429  0.338782
3  0.181135  0.128982  0.847504  0.028365  0.150816  0.028184  0.046384
4  0.814254  0.450993  0.610867  0.434545  0.854719  0.816421  0.526713

        xx8       xx9      xx10  ...      xx42      xx43      xx44      xx45  \
0  0.112473  0.170478  0.083614  ...  0.751828  0.253542  0.201421  0.000142
1  0.000975  0.553863  0.657753  ...  0.073658  0.018109  0.000001  0.015828
2  0.468239  0.045595  0.252255  ...  0.471873  0.003426  0.872730  0.451597
3  0.124263  0.080838  0.147356  ...  0.339936  0.337921  0.307293  0.174741
4  0.746686  0.110237  0.012989  ...  0.862799  0.100622  0.043526  0.003430

       xx46      xx47      xx48      xx49      xx50    xx_sum
0  0.271941  0.016613  0.040522  0.005240  0.408884  3.454535
1  0.075922  0.054690  0.040076  0.543140  0.075653  4.194989
2  0.460444  0.858384  0.025924  0.005482  0.094649  4.138815
3  0.084996  0.558338  0.261469  0.136989  0.000034  3.646531
4  0.192976  0.382419  0.023165  0.214064  0.014918  4.054355

[5 rows x 51 columns]

,xx1,xx2,xx3,xx4,xx5,xx6,xx7,xx8,xx9,xx10,...,xx42,xx43,xx44,xx45,xx46,xx47,xx48,xx49,xx50,xx_sum
0,0.578056,0.085515,0.048237,0.300841,0.007878,0.921619,0.017836,0.112473,0.170478,0.083614,...,0.751828,0.253542,0.201421,0.000142,0.271941,0.016613,0.040522,0.005240,0.408884,3.454535
1,0.860590,0.878344,0.495884,0.439887,0.136863,0.001092,0.738843,0.000975,0.553863,0.657753,...,0.073658,0.018109,0.000001,0.015828,0.075922,0.054690,0.040076,0.543140,0.075653,4.194989
2,0.359664,0.749402,0.970856,0.082714,0.087515,0.059429,0.338782,0.468239,0.045595,0.252255,...,0.471873,0.003426,0.872730,0.451597,0.460444,0.858384,0.025924,0.005482,0.094649,4.138815
3,0.181135,0.128982,0.847504,0.028365,0.150816,0.028184,0.046384,0.124263,0.080838,0.147356,...,0.339936,0.337921,0.307293,0.174741,0.084996,0.558338,0.261469,0.136989,0.000034,3.646531
4,0.814254,0.450993,0.610867,0.434545,0.854719,0.816421,0.526713,0.746686,0.110237,0.012989,...,0.862799,0.100622,0.043526,0.003430,0.192976,0.382419,0.023165,0.214064,0.014918,4.054355
5,0.004318,0.005091,0.846529,0.217072,0.018474,0.067148,0.417381,0.068095,0.002287,0.770094,...,0.026670,0.781562,0.956464,0.001421,0.832729,0.491093,0.369895,0.230083,0.601338,4.082765
6,0.061425,0.611274,0.425887,0.048691,0.724627,0.001444,0.180617,0.072695,0.059634,0.589225,...,0.171082,0.771270,0.140993,0.859941,0.816891,0.661750,0.012866,0.080696,0.083642,3.941104
7,0.735066,0.179064,0.003003,0.007096,0.109554,0.329717,0.873720,0.000055,0.007295,0.715682,...,0.816258,0.014699,0.001362,0.182927,0.296535,0.059673,0.710700,0.296067,0.101067,4.023385
8,0.169629,0.182124,0.137656,0.169859,0.463611,0.977824,0.016817,0.305312,0.616319,0.568606,...,0.608228,0.002552,0.000464,0.025265,0.000547,0.657445,0.031531,0.010341,0.017427,3.957114
9,0.452781,0.767867,0.087652,0.056406,0.551915,0.516084,0.323954,0.405069,0.023985,0.201987,...,0.048207,0.072431,0.699448,0.000529,0.030307,0.794416,0.359544,0.969851,0.008254,3.563819

In [87]:
vector_len(cos2, f, cos2_len, 'yy', 'x')

        yy1       yy2       yy3       yy4       yy5       yy6       yy7  \
0  0.007245  0.507457  0.942453  0.423645  0.124955  0.000113  0.018480
1  0.001043  0.102573  0.000691  0.695373  0.195647  0.104892  0.016404
2  0.090999  0.646352  0.001421  0.005068  0.262287  0.781633  0.843183
3  0.045122  0.360576  0.163176  0.205363  0.526931  0.913668  0.302863
4  0.665138  0.602890  0.054494  0.003042  0.024448  0.964245  0.830796

        yy8       yy9      yy10  ...      yy42      yy43      yy44      yy45  \
0  0.316980  0.579167  0.457436  ...  0.002577  0.016947  0.600377  0.075038
1  0.318513  0.725393  0.119591  ...  0.791032  0.000035  0.449745  0.003264
2  0.558726  0.054789  0.289918  ...  0.000212  0.099332  0.174014  0.071776
3  0.255753  0.141166  0.359832  ...  0.088477  0.052487  0.202959  0.040897
4  0.463557  0.077390  0.010750  ...  0.032127  0.875665  0.963794  0.837042

       yy46      yy47      yy48      yy49      yy50    yy_sum
0  0.093312  0.047699  0.628421  0.525930  0.312079  4.152558
1  0.229738  0.390525  0.029756  0.439649  0.642931  3.500409
2  0.027367  0.005705  0.000554  0.014314  0.054925  3.566516
3  0.071145  0.019271  0.230967  0.827445  0.354811  4.513646
4  0.693872  0.315889  0.678350  0.140970  0.795111  4.512488

[5 rows x 51 columns]

,yy1,yy2,yy3,yy4,yy5,yy6,yy7,yy8,yy9,yy10,...,yy42,yy43,yy44,yy45,yy46,yy47,yy48,yy49,yy50,yy_sum
0,0.007245,0.507457,0.942453,0.423645,0.124955,0.000113,0.018480,0.316980,0.579167,0.457436,...,0.002577,0.016947,0.600377,0.075038,0.093312,0.047699,0.628421,0.525930,0.312079,4.152558
1,0.001043,0.102573,0.000691,0.695373,0.195647,0.104892,0.016404,0.318513,0.725393,0.119591,...,0.791032,0.000035,0.449745,0.003264,0.229738,0.390525,0.029756,0.439649,0.642931,3.500409
2,0.090999,0.646352,0.001421,0.005068,0.262287,0.781633,0.843183,0.558726,0.054789,0.289918,...,0.000212,0.099332,0.174014,0.071776,0.027367,0.005705,0.000554,0.014314,0.054925,3.566516
3,0.045122,0.360576,0.163176,0.205363,0.526931,0.913668,0.302863,0.255753,0.141166,0.359832,...,0.088477,0.052487,0.202959,0.040897,0.071145,0.019271,0.230967,0.827445,0.354811,4.513646
4,0.665138,0.602890,0.054494,0.003042,0.024448,0.964245,0.830796,0.463557,0.077390,0.010750,...,0.032127,0.875665,0.963794,0.837042,0.693872,0.315889,0.678350,0.140970,0.795111,4.512488

In [86]:
vector_len(cos2, a, cos2_len, 'yy', 'x')

NameError: name 'a' is not defined

# 找出各組合的最小值

In [252]:
# 依照分群找出最小值
#groupby ['group', 'distance']

cos1 = pd.read_csv('/Users/hsieh/Downloads/cos_a1.csv')
print(cos1.head(2))
cos1_len = len(cos1.columns)

cos2 = pd.read_csv('/Users/hsieh/Downloads/cos_a2_utf8.csv')
print(cos2.head(2))
cos2_len = len(cos2.columns)

cos1['key'] = 1
cos2['key'] = 1

cos12 = pd.merge(cos1, cos2, on = 'key').drop('key', 1)
cos12.head(2)

cos12['group'] = cos12['word_x'] + cos12['word_y']
print(cos12.head())

       word       x1       x2       x3       x4       x5       x6       x7  \
0  airplane  0.76030 -0.29243  0.21963 -0.54849  0.08876  0.96001  0.13355
1     beach  0.92768  0.93720 -0.70419  0.66324  0.36995 -0.03304 -0.85956

        x8       x9  ...      x41      x42      x43      x44      x45  \
0  0.33537 -0.41289  ... -0.11721 -0.86708  0.50353 -0.44880 -0.01190
1 -0.03122 -0.74422  ...  0.79950 -0.27140 -0.13457 -0.00119 -0.12581

       x46      x47      x48      x49      x50
0 -0.52148 -0.12889 -0.20130  0.07239  0.63944
1 -0.27554  0.23386 -0.20019  0.73698  0.27505

[2 rows x 51 columns]
  word       x1       x2       x3       x4       x5       x6       x7  \
0   電信  0.08512  0.71236  0.97080 -0.65088 -0.35349 -0.01062  0.13594
1   娛樂 -0.03229  0.32027  0.02628  0.83389  0.44232  0.32387  0.12808

        x8       x9  ...      x41      x42      x43      x44      x45  \
0  0.56301  0.76103  ...  0.91896 -0.05076  0.13018 -0.77484  0.27393
1 -0.56437  0.85170  ... -0.14576 -0.88940 -0.00593 -0.67063 -0.05713

       x46      x47      x48      x49      x50
0 -0.30547  0.21840 -0.79273  0.72521  0.55864
1 -0.47931  0.62492  0.17250  0.66306  0.80183

[2 rows x 51 columns]
     word_x    x1_x     x2_x     x3_x     x4_x     x5_x     x6_x     x7_x  \
0  airplane  0.7603 -0.29243  0.21963 -0.54849  0.08876  0.96001  0.13355
1  airplane  0.7603 -0.29243  0.21963 -0.54849  0.08876  0.96001  0.13355
2  airplane  0.7603 -0.29243  0.21963 -0.54849  0.08876  0.96001  0.13355
3  airplane  0.7603 -0.29243  0.21963 -0.54849  0.08876  0.96001  0.13355
4  airplane  0.7603 -0.29243  0.21963 -0.54849  0.08876  0.96001  0.13355

      x8_x     x9_x  ...    x42_y    x43_y    x44_y    x45_y    x46_y  \
0  0.33537 -0.41289  ... -0.05076  0.13018 -0.77484  0.27393 -0.30547
1  0.33537 -0.41289  ... -0.88940 -0.00593 -0.67063 -0.05713 -0.47931
2  0.33537 -0.41289  ... -0.01455 -0.31517  0.41715 -0.26791 -0.16543
3  0.33537 -0.41289  ... -0.29745 -0.22910  0.45051 -0.20223  0.26673
4  0.33537 -0.41289  ... -0.17924  0.93577 -0.98173  0.91490  0.83299

     x47_y    x48_y    x49_y    x50_y       group
0  0.21840 -0.79273  0.72521  0.55864  airplane電信
1  0.62492  0.17250  0.66306  0.80183  airplane娛樂
2 -0.07553 -0.02354  0.11964  0.23436  airplane飲食
3  0.13882  0.48059  0.90964 -0.59566  airplane工作
4 -0.56204  0.82362 -0.37546  0.89169  airplane其他

[5 rows x 103 columns]

In [261]:
cos_si = pd.DataFrame()
cos_si['group'] = cos12['group']
cos_si['word_x'] = cos12['word_x']

for i in range(1, cos1_len):
    cos_si['xx' + str(i)] = cos12['x' + str(i) + '_x'] ** 2
    for j in range(1, cos2_len):

        cos_si['x' + str(i) + 'y' + str(i)] = cos12['x' + str(i) + '_x'] * cos12['x' + str(i) + '_y']
        cos_si['yy' + str(j)] = cos12['x' + str(j) + '_y'] ** 2
        
print(cos_si.head(2))
print(cos_si.tail(2))

        group    word_x       xx1      x1y1       yy1       yy2       yy3  \
0  airplane電信  airplane  0.578056  0.064717  0.007245  0.507457  0.942453
1  airplane娛樂  airplane  0.578056 -0.024550  0.001043  0.102573  0.000691

        yy4       yy5       yy6  ...      xx46    x46y46      xx47    x47y47  \
0  0.423645  0.124955  0.000113  ...  0.271941  0.159296  0.016613 -0.028150
1  0.695373  0.195647  0.104892  ...  0.271941  0.249951  0.016613 -0.080546

       xx48    x48y48     xx49    x49y49      xx50    x50y50
0  0.040522  0.159577  0.00524  0.052498  0.408884  0.357217
1  0.040522 -0.034724  0.00524  0.047999  0.408884  0.512722

[2 rows x 152 columns]
     group word_x       xx1      x1y1       yy1       yy2       yy3       yy4  \
48  food工作   food  0.452781 -0.142935  0.045122  0.360576  0.163176  0.205363
49  food其他   food  0.452781 -0.548782  0.665138  0.602890  0.054494  0.003042

         yy5       yy6  ...      xx46    x46y46      xx47    x47y47      xx48  \
48  0.526931  0.913668  ...  0.030307 -0.046435  0.794416  0.123730  0.359544
49  0.024448  0.964245  ...  0.030307 -0.145015  0.794416 -0.500946  0.359544

      x48y48      xx49    x49y49      xx50    x50y50
48 -0.288171  0.969851 -0.895823  0.008254  0.054116
49 -0.493859  0.969851  0.369757  0.008254 -0.081010

[2 rows x 152 columns]

In [262]:
# 產出columns order
cols = ['group', 'word_x']
for i in range(1, cos1_len):
    cols.append('xx' + str(i))

for i in range(1, cos1_len):
    cols.append('yy' + str(i))
        
for i in range(1, cos1_len):
    cols.append('x' + str(i) + 'y' + str(i))
            
print(cols)

# 更換columns order
cos_si = cos_si.reindex(columns = cols)
print(cos_si.head(2))
cos_si.columns.values

['group', 'word_x', 'xx1', 'xx2', 'xx3', 'xx4', 'xx5', 'xx6', 'xx7', 'xx8', 'xx9', 'xx10', 'xx11', 'xx12', 'xx13', 'xx14', 'xx15', 'xx16', 'xx17', 'xx18', 'xx19', 'xx20', 'xx21', 'xx22', 'xx23', 'xx24', 'xx25', 'xx26', 'xx27', 'xx28', 'xx29', 'xx30', 'xx31', 'xx32', 'xx33', 'xx34', 'xx35', 'xx36', 'xx37', 'xx38', 'xx39', 'xx40', 'xx41', 'xx42', 'xx43', 'xx44', 'xx45', 'xx46', 'xx47', 'xx48', 'xx49', 'xx50', 'yy1', 'yy2', 'yy3', 'yy4', 'yy5', 'yy6', 'yy7', 'yy8', 'yy9', 'yy10', 'yy11', 'yy12', 'yy13', 'yy14', 'yy15', 'yy16', 'yy17', 'yy18', 'yy19', 'yy20', 'yy21', 'yy22', 'yy23', 'yy24', 'yy25', 'yy26', 'yy27', 'yy28', 'yy29', 'yy30', 'yy31', 'yy32', 'yy33', 'yy34', 'yy35', 'yy36', 'yy37', 'yy38', 'yy39', 'yy40', 'yy41', 'yy42', 'yy43', 'yy44', 'yy45', 'yy46', 'yy47', 'yy48', 'yy49', 'yy50', 'x1y1', 'x2y2', 'x3y3', 'x4y4', 'x5y5', 'x6y6', 'x7y7', 'x8y8', 'x9y9', 'x10y10', 'x11y11', 'x12y12', 'x13y13', 'x14y14', 'x15y15', 'x16y16', 'x17y17', 'x18y18', 'x19y19', 'x20y20', 'x21y21', 'x22y22', 'x23y23', 'x24y24', 'x25y25', 'x26y26', 'x27y27', 'x28y28', 'x29y29', 'x30y30', 'x31y31', 'x32y32', 'x33y33', 'x34y34', 'x35y35', 'x36y36', 'x37y37', 'x38y38', 'x39y39', 'x40y40', 'x41y41', 'x42y42', 'x43y43', 'x44y44', 'x45y45', 'x46y46', 'x47y47', 'x48y48', 'x49y49', 'x50y50']
        group    word_x       xx1       xx2       xx3       xx4       xx5  \
0  airplane電信  airplane  0.578056  0.085515  0.048237  0.300841  0.007878
1  airplane娛樂  airplane  0.578056  0.085515  0.048237  0.300841  0.007878

        xx6       xx7       xx8  ...    x41y41    x42y42    x43y43    x44y44  \
0  0.921619  0.017836  0.112473  ... -0.107711  0.044013  0.065550  0.347748
1  0.921619  0.017836  0.112473  ...  0.017085  0.771181 -0.002986  0.300979

    x45y45    x46y46    x47y47    x48y48    x49y49    x50y50
0 -0.00326  0.159296 -0.028150  0.159577  0.052498  0.357217
1  0.00068  0.249951 -0.080546 -0.034724  0.047999  0.512722

[2 rows x 152 columns]

array(['group', 'word_x', 'xx1', 'xx2', 'xx3', 'xx4', 'xx5', 'xx6', 'xx7',
       'xx8', 'xx9', 'xx10', 'xx11', 'xx12', 'xx13', 'xx14', 'xx15',
       'xx16', 'xx17', 'xx18', 'xx19', 'xx20', 'xx21', 'xx22', 'xx23',
       'xx24', 'xx25', 'xx26', 'xx27', 'xx28', 'xx29', 'xx30', 'xx31',
       'xx32', 'xx33', 'xx34', 'xx35', 'xx36', 'xx37', 'xx38', 'xx39',
       'xx40', 'xx41', 'xx42', 'xx43', 'xx44', 'xx45', 'xx46', 'xx47',
       'xx48', 'xx49', 'xx50', 'yy1', 'yy2', 'yy3', 'yy4', 'yy5', 'yy6',
       'yy7', 'yy8', 'yy9', 'yy10', 'yy11', 'yy12', 'yy13', 'yy14',
       'yy15', 'yy16', 'yy17', 'yy18', 'yy19', 'yy20', 'yy21', 'yy22',
       'yy23', 'yy24', 'yy25', 'yy26', 'yy27', 'yy28', 'yy29', 'yy30',
       'yy31', 'yy32', 'yy33', 'yy34', 'yy35', 'yy36', 'yy37', 'yy38',
       'yy39', 'yy40', 'yy41', 'yy42', 'yy43', 'yy44', 'yy45', 'yy46',
       'yy47', 'yy48', 'yy49', 'yy50', 'x1y1', 'x2y2', 'x3y3', 'x4y4',
       'x5y5', 'x6y6', 'x7y7', 'x8y8', 'x9y9', 'x10y10', 'x11y11',
       'x12y12', 'x13y13', 'x14y14', 'x15y15', 'x16y16', 'x17y17',
       'x18y18', 'x19y19', 'x20y20', 'x21y21', 'x22y22', 'x23y23',
       'x24y24', 'x25y25', 'x26y26', 'x27y27', 'x28y28', 'x29y29',
       'x30y30', 'x31y31', 'x32y32', 'x33y33', 'x34y34', 'x35y35',
       'x36y36', 'x37y37', 'x38y38', 'x39y39', 'x40y40', 'x41y41',
       'x42y42', 'x43y43', 'x44y44', 'x45y45', 'x46y46', 'x47y47',
       'x48y48', 'x49y49', 'x50y50'], dtype=object)

In [263]:
# 產出 square root(sum_xx), square root(sum_yy), sum(xiyi), cos_similarity
cos_si['sr_sum_xx'] = cos_si.iloc[:, 2:52].sum(axis = 1) ** .5
cos_si['sr_sum_yy'] = cos_si.iloc[:, 52:102].sum(axis = 1) ** .5
cos_si['sum_xy'] = cos_si.iloc[:, 102:152].sum(axis = 1)
cos_si['cos_similarity'] = cos_si['sum_xy'] / (cos_si['sr_sum_xx'] * cos_si['sr_sum_yy'])
print(cos_si.head(2))
print(cos_si.tail(2))

        group    word_x       xx1       xx2       xx3       xx4       xx5  \
0  airplane電信  airplane  0.578056  0.085515  0.048237  0.300841  0.007878
1  airplane娛樂  airplane  0.578056  0.085515  0.048237  0.300841  0.007878

        xx6       xx7       xx8  ...   x45y45    x46y46    x47y47    x48y48  \
0  0.921619  0.017836  0.112473  ... -0.00326  0.159296 -0.028150  0.159577
1  0.921619  0.017836  0.112473  ...  0.00068  0.249951 -0.080546 -0.034724

     x49y49    x50y50  sr_sum_xx  sr_sum_yy    sum_xy  cos_similarity
0  0.052498  0.357217   3.454535   4.152558 -2.369505       -0.165178
1  0.047999  0.512722   3.454535   3.500409  2.001440        0.165514

[2 rows x 156 columns]
     group word_x       xx1       xx2       xx3       xx4       xx5       xx6  \
48  food工作   food  0.452781  0.767867  0.087652  0.056406  0.551915  0.516084
49  food其他   food  0.452781  0.767867  0.087652  0.056406  0.551915  0.516084

         xx7       xx8  ...    x45y45    x46y46    x47y47    x48y48    x49y49  \
48  0.323954  0.405069  ... -0.004651 -0.046435  0.123730 -0.288171 -0.895823
49  0.323954  0.405069  ...  0.021043 -0.145015 -0.500946 -0.493859  0.369757

      x50y50  sr_sum_xx  sr_sum_yy    sum_xy  cos_similarity
48  0.054116   3.563819   4.513646 -4.252184       -0.264344
49 -0.081010   3.563819   4.512488 -1.357397       -0.084406

[2 rows x 156 columns]

In [266]:
cos_si.sort_values(['word_x','cos_similarity'],ascending=False).groupby('word_x').head(1)

,group,word_x,xx1,xx2,xx3,xx4,xx5,xx6,xx7,xx8,...,x45y45,x46y46,x47y47,x48y48,x49y49,x50y50,sr_sum_xx,sr_sum_yy,sum_xy,cos_similarity
23,wine工作,wine,0.814254,0.450993,0.610867,0.434545,0.854719,0.816421,0.526713,0.746686,...,0.011845,0.117172,0.085846,-0.073146,-0.420863,-0.072754,4.054355,4.513646,3.487319,0.190565
32,movie飲食,movie,0.061425,0.611274,0.425887,0.048691,0.724627,0.001444,0.180617,0.072695,...,0.248441,0.149519,0.061442,-0.002670,-0.033986,-0.067779,3.941104,3.566516,1.893361,0.134701
19,money其他,money,0.181135,0.128982,0.847504,0.028365,0.150816,0.028184,0.046384,0.124263,...,0.382446,-0.242850,-0.419968,0.421150,0.138965,-0.005234,3.646531,4.512488,1.624862,0.098746
42,mail飲食,mail,0.169629,0.182124,0.137656,0.169859,0.463611,0.977824,0.016817,0.305312,...,-0.042584,-0.003869,-0.061242,0.004180,-0.012166,-0.030938,3.957114,3.566516,2.939310,0.208268
37,hospital飲食,hospital,0.735066,0.179064,0.003003,0.007096,0.109554,0.329717,0.873720,0.000055,...,0.114585,0.090085,-0.018450,0.019845,-0.065099,-0.074505,4.023385,3.566516,1.731881,0.120693
47,food飲食,food,0.452781,0.767867,0.087652,0.056406,0.551915,0.516084,0.323954,0.405069,...,-0.006162,0.028800,-0.067320,0.014115,-0.117823,-0.021292,3.563819,3.566516,1.779161,0.139977
11,company娛樂,company,0.359664,0.749402,0.970856,0.082714,0.087515,0.059429,0.338782,0.468239,...,0.038392,0.325241,-0.578982,-0.027774,-0.049093,0.246683,4.138815,3.500409,1.374301,0.094861
27,cellphone飲食,cellphone,0.004318,0.005091,0.846529,0.217072,0.018474,0.067148,0.417381,0.068095,...,0.010098,0.150961,0.052930,-0.014317,-0.057388,0.181737,4.082765,3.566516,2.497422,0.171512
8,beach工作,beach,0.860590,0.878344,0.495884,0.439887,0.136863,0.001092,0.738843,0.000975,...,0.025443,-0.073495,0.032464,-0.096209,0.670386,-0.163836,4.194989,4.513646,3.548651,0.187415
1,airplane娛樂,airplane,0.578056,0.085515,0.048237,0.300841,0.007878,0.921619,0.017836,0.112473,...,0.000680,0.249951,-0.080546,-0.034724,0.047999,0.512722,3.454535,3.500409,2.001440,0.165514