# 歐幾里德距離
1. 生成兩個table 各為n*n個隨機變數
2. 進行x1-y1 以此類推相減 並取平成相加再開根號
3. 找出最近的兩個點

In [4]:
import numpy as np
import pandas as pd

## 生成兩個 10*10 隨機變數(X,Y)

In [60]:
x = pd.DataFrame(np.random.uniform(0, 100, size=(10, 10)), columns=list('0123456789'))
#x.columns = ['x1','x2','x3','x4','x5','x6','x7','x8','x9','x10']
print(x.head())

y = pd.DataFrame(np.random.uniform(0, 100, size=(10, 10)), columns=list('0123456789'))
#y.columns = ['y1','y2','y3','y4','y5','y6','y7','y8','y9','y10']
print(y.head())

           0          1          2          3          4          5  \
0  90.144132  20.538727  48.478887  31.363312  33.321889  55.711579
1  69.359328  99.875132  33.595575  29.603633  43.512897  94.868161
2  10.922963  66.902689  23.995532  64.890926   2.540771  61.451441
3   4.333074  42.294637  95.060931  33.719215  98.679964  89.996120
4  60.711497  49.027192   5.150696   5.522924  58.307765  67.198198

           6          7          8          9
0  76.580672  29.901227  83.619491  50.637386
1  59.992323   5.549585  63.301069  21.264771
2  33.514650  92.951278  42.890656  53.814475
3  94.554924  63.630461  21.084479  36.122606
4  73.014827  23.186878  97.968331  72.842564
           0          1          2          3          4          5  \
0  43.361675  18.977961  66.691687  46.935535  55.403754  95.307542
1  43.855101   3.154621  96.873868  50.897289  55.056663  71.173753
2  93.012469  32.640164  95.159086  49.398990  60.631736  98.147594
3  99.395754  79.558997  89.872092  71.800595  26.577236  30.115804
4  74.228540  88.216087  17.088833  54.931608   7.480722  32.040857

           6          7          8          9
0  76.935144   7.016847  35.658587  76.087073
1  70.641220  16.790812  17.937062  96.320132
2  58.250411   1.008129  55.604615  31.801000
3  19.095762  62.721673  56.892353  50.138472
4  35.489744  85.686580  35.487107  31.613064

## 確認column name相同

In [61]:
#del list_x
#del list_y
x['1'].head()
list_x_o = x.columns.values
print(list_x_o)


list_y_o = y.columns.values
print(list_y_o)

['0' '1' '2' '3' '4' '5' '6' '7' '8' '9']
['0' '1' '2' '3' '4' '5' '6' '7' '8' '9']

## 建立 diff (cross join, 10 * 10 種組合)

In [62]:
# create empty dataframe
list_x = x.columns.values
list_y = y.columns.values
x['key'] = 1
y['key'] = 1

print(list_x)
print(list_y)

# Cross join(x, y)
diff = pd.merge(x, y, on='key').drop('key', 1)

# Check diff column name
list_diff = diff.columns.values
print(list_diff)

# Check diff dimension
diff.shape

['0' '1' '2' '3' '4' '5' '6' '7' '8' '9']
['0' '1' '2' '3' '4' '5' '6' '7' '8' '9']
['0_x' '1_x' '2_x' '3_x' '4_x' '5_x' '6_x' '7_x' '8_x' '9_x' '0_y' '1_y'
 '2_y' '3_y' '4_y' '5_y' '6_y' '7_y' '8_y' '9_y']

(100, 20)

In [59]:
# 新增欄位Group

group = []
for i in list_x_o:
    for j in list_x_o:
        di_group = ('x' + i + 'y' + j)
        #print(di_group)
        group += [di_group]
    #print(di_group)
print(group)

# 確認group, diff長度相同
print(len(group))
print(len(diff))

# 合併group到 diff
diff['group']=group
print(diff.head(2))
print(diff.tail(2))

list_diff = diff.columns.values
print(list_diff)

['x0y0', 'x0y1', 'x0y2', 'x0y3', 'x0y4', 'x0y5', 'x0y6', 'x0y7', 'x0y8', 'x0y9', 'x1y0', 'x1y1', 'x1y2', 'x1y3', 'x1y4', 'x1y5', 'x1y6', 'x1y7', 'x1y8', 'x1y9', 'x2y0', 'x2y1', 'x2y2', 'x2y3', 'x2y4', 'x2y5', 'x2y6', 'x2y7', 'x2y8', 'x2y9', 'x3y0', 'x3y1', 'x3y2', 'x3y3', 'x3y4', 'x3y5', 'x3y6', 'x3y7', 'x3y8', 'x3y9', 'x4y0', 'x4y1', 'x4y2', 'x4y3', 'x4y4', 'x4y5', 'x4y6', 'x4y7', 'x4y8', 'x4y9', 'x5y0', 'x5y1', 'x5y2', 'x5y3', 'x5y4', 'x5y5', 'x5y6', 'x5y7', 'x5y8', 'x5y9', 'x6y0', 'x6y1', 'x6y2', 'x6y3', 'x6y4', 'x6y5', 'x6y6', 'x6y7', 'x6y8', 'x6y9', 'x7y0', 'x7y1', 'x7y2', 'x7y3', 'x7y4', 'x7y5', 'x7y6', 'x7y7', 'x7y8', 'x7y9', 'x8y0', 'x8y1', 'x8y2', 'x8y3', 'x8y4', 'x8y5', 'x8y6', 'x8y7', 'x8y8', 'x8y9', 'x9y0', 'x9y1', 'x9y2', 'x9y3', 'x9y4', 'x9y5', 'x9y6', 'x9y7', 'x9y8', 'x9y9']
100
100
         0_x        1_x        2_x       3_x        4_x        5_x        6_x  \
0  52.700988  95.839209  14.819005  55.46725  89.039663  38.301296  37.954996
1  52.700988  95.839209  14.819005  55.46725  89.039663  38.301296  37.954996

         7_x        8_x        9_x  ...         x2y2         x3y3        x4y4  \
0  69.943734  61.756524  61.864685  ...    21.412971  1082.377937  402.245817
1  69.943734  61.756524  61.864685  ...  2716.748190   102.042355  299.150272

          x5y5        x6y6         x7y7         x8y8         x9y9    Distance  \
0   203.956717   23.113239  3181.721805  1702.778348  2156.733751   93.810579
1  3045.574554  366.925784    84.288564  3098.141775    29.318193  102.124993

   group
0   x0y0
1   x0y1

[2 rows x 32 columns]
          0_x        1_x       2_x        3_x        4_x        5_x  \
98  13.113055  62.443793  34.11785  46.105149  54.765179  83.950362
99  13.113055  62.443793  34.11785  46.105149  54.765179  83.950362

          6_x        7_x        8_x       9_x  ...         x2y2         x3y3  \
98  83.048543  77.014008  99.009466  7.777078  ...  4121.475853  1980.651159
99  83.048543  77.014008  99.009466  7.777078  ...  3562.032747  1946.720364

          x4y4         x5y5         x6y6         x7y7        x8y8  \
98  928.959489  3316.160148  2518.631124  4130.416000    2.306749
99  277.526298    89.496730  1647.891033  3586.332162  692.180573

           x9y9    Distance  group
98  5526.274505  151.915080   x9y8
99     4.431205  110.882122   x9y9

[2 rows x 32 columns]
['0_x' '1_x' '2_x' '3_x' '4_x' '5_x' '6_x' '7_x' '8_x' '9_x' '0_y' '1_y'
 '2_y' '3_y' '4_y' '5_y' '6_y' '7_y' '8_y' '9_y' 'x0y0' 'x1y1' 'x2y2'
 'x3y3' 'x4y4' 'x5y5' 'x6y6' 'x7y7' 'x8y8' 'x9y9' 'Distance' 'group']

## 將 x1-y1 ; x2-y2... 寫入diff為新的行，並計算出Distance

In [64]:
#for i in list_x:
#    d = (x[i] - y[i]) ** 2
#    diff['d_x'  + i  + '_y' + i] = d # Add new column which is the result of multiplying columns i and j together
#    diff['Distance'] = diff.sum(axis=1) ** .5
#print(diff.head())

diff_list = diff.columns.values
print(diff_list)


# 計算 xiyi = (xi-yi) ** 2
for i in list_x_o:
    diff['x' + i + 'y' + i] = (diff[i + '_x'] - diff[i + '_y']) ** 2
#    diff_cal['Distance'] = diff.sum(axis=1) ** .5
print(diff)

# 計算Distance= sum(xiyi) ** 0.5
diff['Distance'] = diff.iloc[:,21:30].sum(axis=1) ** .5
diff['group'] = group


# 確認diff的行名
diff_list = diff.columns.values
print(diff_list)
print(diff.head(2))

['0_x' '1_x' '2_x' '3_x' '4_x' '5_x' '6_x' '7_x' '8_x' '9_x' '0_y' '1_y'
 '2_y' '3_y' '4_y' '5_y' '6_y' '7_y' '8_y' '9_y' 'x0y0' 'x1y1' 'x2y2'
 'x3y3' 'x4y4' 'x5y5' 'x6y6' 'x7y7' 'x8y8' 'x9y9' 'Distance']
          0_x        1_x        2_x        3_x        4_x        5_x  \
0   90.144132  20.538727  48.478887  31.363312  33.321889  55.711579
1   90.144132  20.538727  48.478887  31.363312  33.321889  55.711579
2   90.144132  20.538727  48.478887  31.363312  33.321889  55.711579
3   90.144132  20.538727  48.478887  31.363312  33.321889  55.711579
4   90.144132  20.538727  48.478887  31.363312  33.321889  55.711579
5   90.144132  20.538727  48.478887  31.363312  33.321889  55.711579
6   90.144132  20.538727  48.478887  31.363312  33.321889  55.711579
7   90.144132  20.538727  48.478887  31.363312  33.321889  55.711579
8   90.144132  20.538727  48.478887  31.363312  33.321889  55.711579
9   90.144132  20.538727  48.478887  31.363312  33.321889  55.711579
10  69.359328  99.875132  33.595575  29.603633  43.512897  94.868161
11  69.359328  99.875132  33.595575  29.603633  43.512897  94.868161
12  69.359328  99.875132  33.595575  29.603633  43.512897  94.868161
13  69.359328  99.875132  33.595575  29.603633  43.512897  94.868161
14  69.359328  99.875132  33.595575  29.603633  43.512897  94.868161
15  69.359328  99.875132  33.595575  29.603633  43.512897  94.868161
16  69.359328  99.875132  33.595575  29.603633  43.512897  94.868161
17  69.359328  99.875132  33.595575  29.603633  43.512897  94.868161
18  69.359328  99.875132  33.595575  29.603633  43.512897  94.868161
19  69.359328  99.875132  33.595575  29.603633  43.512897  94.868161
20  10.922963  66.902689  23.995532  64.890926   2.540771  61.451441
21  10.922963  66.902689  23.995532  64.890926   2.540771  61.451441
22  10.922963  66.902689  23.995532  64.890926   2.540771  61.451441
23  10.922963  66.902689  23.995532  64.890926   2.540771  61.451441
24  10.922963  66.902689  23.995532  64.890926   2.540771  61.451441
25  10.922963  66.902689  23.995532  64.890926   2.540771  61.451441
26  10.922963  66.902689  23.995532  64.890926   2.540771  61.451441
27  10.922963  66.902689  23.995532  64.890926   2.540771  61.451441
28  10.922963  66.902689  23.995532  64.890926   2.540771  61.451441
29  10.922963  66.902689  23.995532  64.890926   2.540771  61.451441
..        ...        ...        ...        ...        ...        ...
70  82.400043  23.831821  53.994317  35.562161   5.873745  81.993974
71  82.400043  23.831821  53.994317  35.562161   5.873745  81.993974
72  82.400043  23.831821  53.994317  35.562161   5.873745  81.993974
73  82.400043  23.831821  53.994317  35.562161   5.873745  81.993974
74  82.400043  23.831821  53.994317  35.562161   5.873745  81.993974
75  82.400043  23.831821  53.994317  35.562161   5.873745  81.993974
76  82.400043  23.831821  53.994317  35.562161   5.873745  81.993974
77  82.400043  23.831821  53.994317  35.562161   5.873745  81.993974
78  82.400043  23.831821  53.994317  35.562161   5.873745  81.993974
79  82.400043  23.831821  53.994317  35.562161   5.873745  81.993974
80  54.800853  50.302545  62.889183  43.691244  65.109244  80.475180
81  54.800853  50.302545  62.889183  43.691244  65.109244  80.475180
82  54.800853  50.302545  62.889183  43.691244  65.109244  80.475180
83  54.800853  50.302545  62.889183  43.691244  65.109244  80.475180
84  54.800853  50.302545  62.889183  43.691244  65.109244  80.475180
85  54.800853  50.302545  62.889183  43.691244  65.109244  80.475180
86  54.800853  50.302545  62.889183  43.691244  65.109244  80.475180
87  54.800853  50.302545  62.889183  43.691244  65.109244  80.475180
88  54.800853  50.302545  62.889183  43.691244  65.109244  80.475180
89  54.800853  50.302545  62.889183  43.691244  65.109244  80.475180
90   5.624185  44.473309  18.765295  73.157521  92.022567  72.985186
91   5.624185  44.473309  18.765295  73.157521  92.022567  72.985186
92   5.624185  44.473309  18.765295  73.157521  92.022567  72.985186
93   5.624185  44.473309  18.765295  73.157521  92.022567  72.985186
94   5.624185  44.473309  18.765295  73.157521  92.022567  72.985186
95   5.624185  44.473309  18.765295  73.157521  92.022567  72.985186
96   5.624185  44.473309  18.765295  73.157521  92.022567  72.985186
97   5.624185  44.473309  18.765295  73.157521  92.022567  72.985186
98   5.624185  44.473309  18.765295  73.157521  92.022567  72.985186
99   5.624185  44.473309  18.765295  73.157521  92.022567  72.985186

          6_x        7_x        8_x        9_x  ...         x1y1         x2y2  \
0   76.580672  29.901227  83.619491  50.637386  ...     2.435991   331.706085
1   76.580672  29.901227  83.619491  50.637386  ...   302.207135  2342.074170
2   76.580672  29.901227  83.619491  50.637386  ...   146.444770  2179.040948
3   76.580672  29.901227  83.619491  50.637386  ...  3483.392241  1713.397397
4   76.580672  29.901227  83.619491  50.637386  ...  4580.225068   985.335490
5   76.580672  29.901227  83.619491  50.637386  ...     0.038344  2300.412823
6   76.580672  29.901227  83.619491  50.637386  ...   432.108430   463.222816
7   76.580672  29.901227  83.619491  50.637386  ...  2841.378594     2.382463
8   76.580672  29.901227  83.619491  50.637386  ...  1220.925633  2257.610855
9   76.580672  29.901227  83.619491  50.637386  ...   179.448906    96.628488
10  59.992323   5.549585  63.301069  21.264771  ...  6544.352206  1095.352598
11  59.992323   5.549585  63.301069  21.264771  ...  9354.857101  4004.142280
12  59.992323   5.549585  63.301069  21.264771  ...  4520.540885  3790.065784
13  59.992323   5.549585  63.301069  21.264771  ...   412.745328  3167.046277
14  59.992323   5.549585  63.301069  21.264771  ...   135.933315   272.472548
15  59.992323   5.549585  63.301069  21.264771  ...  6263.232876  1094.240586
16  59.992323   5.549585  63.301069  21.264771  ...  3428.007236  1325.391247
17  59.992323   5.549585  63.301069  21.264771  ...   677.655715   177.949962
18  59.992323   5.549585  63.301069  21.264771  ...  1970.885671  1064.782888
19  59.992323   5.549585  63.301069  21.264771  ...  4348.156184    25.536169
20  33.514650  92.951278  42.890656  53.814475  ...  2296.779575  1822.961633
21  33.514650  92.951278  42.890656  53.814475  ...  4063.816160  5311.251797
22  33.514650  92.951278  42.890656  53.814475  ...  1173.920646  5064.251336
23  33.514650  92.951278  42.890656  53.814475  ...   160.182124  4339.721087
24  33.514650  92.951278  42.890656  53.814475  ...   454.260934    47.702494
25  33.514650  92.951278  42.890656  53.814475  ...  2131.497794   551.275851
26  33.514650  92.951278  42.890656  53.814475  ...   654.169840  2116.548953
27  33.514650  92.951278  42.890656  53.814475  ...    48.172222   526.235890
28  33.514650  92.951278  42.890656  53.814475  ...   130.467014   530.425481
29  33.514650  92.951278  42.890656  53.814475  ...  1086.896147   214.721420
..        ...        ...        ...        ...  ...          ...          ...
70  67.989238  45.838691  11.936519  97.167258  ...    23.559959   161.223214
71  67.989238  45.838691  11.936519  97.167258  ...   427.546594  1838.655908
72  67.989238  45.838691  11.936519  97.167258  ...    77.586900  1694.538208
73  67.989238  45.838691  11.936519  97.167258  ...  3105.518110  1287.214743
74  67.989238  45.838691  11.936519  97.167258  ...  4145.333712  1362.014724
75  67.989238  45.838691  11.936519  97.167258  ...     9.593137  2859.901691
76  67.989238  45.838691  11.936519  97.167258  ...   306.044371   256.229878
77  67.989238  45.838691  11.936519  97.167258  ...  2501.149050    49.828810
78  67.989238  45.838691  11.936519  97.167258  ...  1001.637188  2812.154628
79  67.989238  45.838691  11.936519  97.167258  ...   102.065759   235.481568
80  75.208488   5.622691  78.636948  28.181385  ...   981.229579    14.459034
81  75.208488   5.622691  78.636948  28.181385  ...  2222.926731  1154.958774
82  75.208488   5.622691  78.636948  28.181385  ...   311.959718  1041.346591
83  75.208488   5.622691  78.636948  28.181385  ...   855.939962   728.077340
84  75.208488   5.622691  78.636948  28.181385  ...  1437.436664  2097.672099
85  75.208488   5.622691  78.636948  28.181385  ...   874.266802  3890.380582
86  75.208488   5.622691  78.636948  28.181385  ...    80.579351    50.585029
87  75.208488   5.622691  78.636948  28.181385  ...   554.167622   254.524348
88  75.208488   5.622691  78.636948  28.181385  ...    26.810940  3834.658445
89  75.208488   5.622691  78.636948  28.181385  ...   267.910248   587.590955
90  51.832041  96.668534  87.271084  94.446115  ...   650.012747  2296.939081
91  51.832041  96.668534  87.271084  94.446115  ...  1707.233915  6100.949195
92  51.832041  96.668534  87.271084  94.446115  ...   140.023314  5836.011297
93  51.832041  96.668534  87.271084  94.446115  ...  1231.005525  5056.176580
94  51.832041  96.668534  87.271084  94.446115  ...  1913.430685     2.810524
95  51.832041  96.668534  87.271084  94.446115  ...   563.529026   333.026977
96  51.832041  96.668534  87.271084  94.446115  ...     9.905897  2625.148604
97  51.832041  96.668534  87.271084  94.446115  ...   862.597007   793.552814
98  51.832041  96.668534  87.271084  94.446115  ...   121.157678   316.866001
99  51.832041  96.668534  87.271084  94.446115  ...   111.064775   395.358076

           x3y3         x4y4         x5y5         x6y6         x7y7  \
0    242.494119   487.608720  1567.840257     0.125650   523.694828
1    381.576252   472.400389   239.078827    35.277102   171.882978
2    325.285683   745.827737  1800.815401   335.998502   834.811113
3   1635.173825    45.490348   655.143700  3304.514960  1077.181701
4    555.464572   667.765954   560.303072  1688.464392  3112.005688
5    538.479440  1576.355914   161.948946  1734.012008   195.154762
6     10.998930   748.041657    44.213004  1693.906243  1333.490317
7    192.820116    58.254937   217.217020  5185.320182   769.657198
8      8.316001    10.672777   324.058555  2937.416916   285.255512
9    229.952647  2337.045636  2331.756352     0.201466  2163.945965
10   300.394821   141.392471     0.193055   287.059164     2.152858
11   453.419787   133.258540   561.424988   113.398994   126.365181
12   391.856167   293.054664    10.754680     3.034259    20.624825
13  1780.583582   286.816605  4192.867799  1672.528731  3268.647657
14   641.506321  1298.317654  3947.270164   600.376377  6421.938034
15   623.243183   870.978298   698.580112   627.658844   107.783046
16     2.423577   294.443044  1056.724322   603.623128  3704.989923
17   244.786284     6.546000   596.253291  3071.467067  2713.820052
18     1.263530    47.942964   447.532163  1414.481458    55.683426
19   286.417334  1455.574525  7646.601011   260.483462  5022.539085
20   322.396075  2794.494902  1146.235533  1885.339255  7384.726373
21   195.821878  2757.918915    94.523347  1378.382158  5800.416576
22   240.000077  3374.560235  1346.607654   611.857847  8453.542669
23    47.743521   577.751649   981.922164   207.904340   913.829000
24    99.188015    24.403111   864.982457     3.900997    52.775828
25   106.553060  4968.060114    48.804951     2.029350  5932.054430
26  1357.486036  3379.267629     0.827052     3.644014   704.003506
27   385.794243  1475.605469    80.971597   837.705639  1246.609303
28  1325.787253  1159.269025   150.350862   123.919634  6390.333254
29   337.215352  6260.626073  2919.038328  1816.223445   273.301022
..          ...          ...          ...          ...          ...
70   129.353624  2453.221755   177.251071    80.029222  1507.135565
71   235.166141  2418.959454   117.077191     7.033005   843.779287
72   191.457833  2998.437630   260.939436    94.844765  2009.779322
73  1313.224057   428.634551  2691.344574  2390.572044   285.035083
74   375.175466     2.582374  2495.313928  1056.217118  1587.854287
75   361.239842  4509.323076   183.778127  1092.304852   894.443283
76    56.479924  3002.875031   385.458987  1060.522084   423.516740
77    93.840276  1230.651076   133.266506  4021.808875   139.363502
78    50.163178   943.415295    68.571135  2079.953551  1077.610173
79   120.238691  5744.297576  5560.783117    66.301689   935.183388
80    10.525423    94.196540   219.998955     2.981341     1.943672
81    51.927086   101.054375    86.516541    20.859938   124.726929
82    32.578368    20.048072   312.314234   287.576377    21.294183
83   790.135604  1484.715604  2536.066743  3148.638001  3260.293789
84   126.345786  3321.046554  2345.883618  1577.578582  6410.226434
85   118.314089    62.662972   144.905850  1621.615309   106.270444
86   244.747102    19.687005   328.128404  1582.838856  3696.095578
87     2.427478   583.457361   100.506975  4989.583292  2706.208609
88   231.395192   813.415073    45.724298  2790.560614    54.597721
89     8.044359   274.089402  5336.574830     0.852549  5012.182444
90   687.592541  1340.937515   498.287558   630.165752  8037.424930
91   495.517912  1366.478058     3.281289   353.785192  6380.450474
92   564.467768   985.384261   633.146792    41.195466  9150.913116
93     1.841248  4283.091353  1837.783921  1071.663986  1152.389355
94   332.183889  7147.323648  1676.438069   267.070671   120.603301
95   345.552732   360.898503    20.681491   285.367991  6518.477291
96  2034.972721   982.843035   112.876198   269.237589   915.081887
97   778.869871  2607.959575     6.427862  2233.558262  1522.920252
98  1996.119766  3072.901310     0.530012   867.261896  6998.462873
99   709.157905   107.281491  4298.358818   590.479409   410.025019

           x8y8         x9y9    Distance
0   2300.248287   647.686555   78.127079
1   4314.181477  2086.913255  101.713281
2    784.833306   354.809440   86.647948
3    714.339915     0.248915  112.378303
4   2316.726394   361.924828  121.771160
5    181.201795  2393.976943   95.297329
6   5810.804867  2360.452104  113.566009
7      0.454770    64.033199   96.599785
8     28.693110    64.753560   84.484927
9     34.220702   180.602537   86.912615
10   764.106802  3005.484762  110.183886
11  2057.893138  5633.307164  149.793415
12    59.235414   111.012119   95.917563
13    41.071644   833.690589  125.123931
14   773.616490   107.087167  119.157535
15  1141.057560   382.424179  108.670137
16  3125.951983   369.095919  117.943420
17   385.888927  1396.867424   96.287251
18   659.206494   454.783573   78.208453
19   209.339679   253.885047  139.672948
20    52.302813   496.068607  134.912211
21   622.681833  1806.730846  148.430265
22   161.644750   484.593087  144.606287
23   196.047525    13.513001   86.247402
24    54.812533   492.902654   45.770395
25  2936.551439  2714.969868  139.254432
26  1260.235806  2679.260465  110.251727
27  1604.360507    23.280486   78.922337
28  2123.866896   125.979270  109.819847
29  1216.543878   276.089242  120.002729
..          ...          ...         ...
70   562.736516   444.374195   74.423687
71    36.006515     0.717622   76.973643
72  1906.902551  4272.747643  116.220628
73  2021.026982  2211.706706  125.436346
74   554.630186  4297.352304  126.001881
75  7249.516653  9112.259412  162.087507
76    20.663058  9046.740680  120.658737
77  5042.222086  1484.391139  121.229210
78  5935.094865  2978.630514  130.181529
79  4334.000417  3596.246890  143.856175
80  1847.139459  2294.954957   73.942065
81  3684.476112  4642.888859  109.956061
82   530.488370    13.101615   50.702145
83   472.827403   482.113674  117.297946
84  1861.908750    11.776423  138.527524
85   340.168778   700.781728   88.653068
86  5076.005640   682.697612  108.449825
87    18.560391   927.694398  100.683318
88   106.897783   207.620484   90.064869
89     0.752214    81.309122  107.560709
90  2663.849833   337.054438  130.928471
91  4807.206622     3.511938  145.665420
92  1002.765300  3924.410458  149.259230
93   922.867316  1963.167268  132.363086
94  2681.580293  3947.992318  134.496964
95    96.226849  8600.153545  130.858375
96  6380.850923  8536.505868  147.876376
97    18.713924  1282.116505  100.532164
98     2.907031  2689.012462  126.748645
99    90.277352  3277.284666   99.946423

[100 rows x 31 columns]
['0_x' '1_x' '2_x' '3_x' '4_x' '5_x' '6_x' '7_x' '8_x' '9_x' '0_y' '1_y'
 '2_y' '3_y' '4_y' '5_y' '6_y' '7_y' '8_y' '9_y' 'x0y0' 'x1y1' 'x2y2'
 'x3y3' 'x4y4' 'x5y5' 'x6y6' 'x7y7' 'x8y8' 'x9y9' 'Distance' 'group']
         0_x        1_x        2_x        3_x        4_x        5_x  \
0  90.144132  20.538727  48.478887  31.363312  33.321889  55.711579
1  90.144132  20.538727  48.478887  31.363312  33.321889  55.711579

         6_x        7_x        8_x        9_x  ...         x2y2        x3y3  \
0  76.580672  29.901227  83.619491  50.637386  ...   331.706085  242.494119
1  76.580672  29.901227  83.619491  50.637386  ...  2342.074170  381.576252

         x4y4         x5y5       x6y6        x7y7         x8y8         x9y9  \
0  487.608720  1567.840257   0.125650  523.694828  2300.248287   647.686555
1  472.400389   239.078827  35.277102  171.882978  4314.181477  2086.913255

     Distance  group
0   78.127079   x0y0
1  101.713281   x0y1

[2 rows x 32 columns]

In [66]:
diff.iloc[:,19:32].head()

,9_y,x0y0,x1y1,x2y2,x3y3,x4y4,x5y5,x6y6,x7y7,x8y8,x9y9,Distance,group
0,76.087073,2188.598245,2.435991,331.706085,242.494119,487.608720,1567.840257,0.125650,523.694828,2300.248287,647.686555,78.127079,x0y0
1,96.320132,2142.674349,302.207135,2342.074170,381.576252,472.400389,239.078827,35.277102,171.882978,4314.181477,2086.913255,101.713281,x0y1
2,31.801000,8.227360,146.444770,2179.040948,325.285683,745.827737,1800.815401,335.998502,834.811113,784.833306,354.809440,86.647948,x0y2
3,50.138472,85.592509,3483.392241,1713.397397,1635.173825,45.490348,655.143700,3304.514960,1077.181701,714.339915,0.248915,112.378303,x0y3
4,31.613064,253.306071,4580.225068,985.335490,555.464572,667.765954,560.303072,1688.464392,3112.005688,2316.726394,361.924828,121.771160,x0y4

In [67]:
# 對Distance做排序
diff_sort = diff.sort_values(['Distance'], ascending=True)
print(diff_sort.head(2))

          0_x        1_x        2_x        3_x        4_x        5_x  \
24  10.922963  66.902689  23.995532  64.890926   2.540771  61.451441
82  54.800853  50.302545  62.889183  43.691244  65.109244  80.475180

          6_x        7_x        8_x        9_x  ...         x2y2       x3y3  \
24  33.514650  92.951278  42.890656  53.814475  ...    47.702494  99.188015
82  75.208488   5.622691  78.636948  28.181385  ...  1041.346591  32.578368

         x4y4        x5y5        x6y6       x7y7        x8y8        x9y9  \
24  24.403111  864.982457    3.900997  52.775828   54.812533  492.902654
82  20.048072  312.314234  287.576377  21.294183  530.488370   13.101615

     Distance  group
24  45.770395   x2y4
82  50.702145   x8y2

[2 rows x 32 columns]

## Print 距離最小組合及距離值

In [68]:
print('\033[1m' + 'Minimun Distance is group: '+ diff_sort['group'].iloc[0] + ' and value is '+ str(diff_sort['Distance'].iloc[0]))

Minimun Distance is group: x2y4 and value is 45.770394616113904

### 最後找出不用減欄位也能計算的方法(以下未用到)
- 刪除 0_x : 9_y的行
- 計算出Distance，並排序

In [189]:
# Drop 0_x : 9_y 刪除連續行，並新增為新的資料集 diff_cal
diff_cal = diff.drop(diff.loc[:, '0_x':'9_y'].columns, axis=1)


# 新增行"Distance"=(sum(所有列) ) ** 0.5
diff_cal['Distance'] = diff.sum(axis=1) ** .5


# 對Distance做排序
diff_cal_sort = diff_cal.sort_values(['Distance'], ascending=True)
print(diff_cal_sort.head())

   group         x0y0         x1y1         x2y2        x3y3        x4y4  \
29  x2y9   927.147919   318.717567   214.972002    1.756903    0.115153
63  x6y3    12.333560  2015.736213    99.507766  300.196556   41.822390
38  x3y8   922.510375   442.973247   101.225008    1.257180  401.053177
79  x7y9   239.515952   214.237934     2.104549   58.741665  109.938851
57  x5y7  1506.506612   341.689789  1972.698659   31.884067    3.080550

           x5y5         x6y6         x7y7         x8y8         x9y9   Distance
29    42.659577   511.877788    85.126050   850.641795  2187.292313  79.064917
63   674.990368   312.700573  2035.487289     0.963349    87.156524  79.497543
38   385.820009    21.119225  1499.317837  1754.906572   399.707234  82.648103
79  1225.221104   174.356285   617.219705  3265.464028   139.388991  84.754214
57     5.910893  1095.854851   222.897209  1095.514188   514.521729  87.881473

### For loop: 列出行名(最後沒用到)

In [201]:
# 列出 0_x : 9_y 的行名(原本要用來drop，但最後沒用到)
col = []
for i in list_x_o:
    col_name = (i + '_x', i + '_y')
    col += col_name
    #diff_cal = diff.drop(columns=[i + '_x'])
    print(col)

['0_x', '0_y']
['0_x', '0_y', '1_x', '1_y']
['0_x', '0_y', '1_x', '1_y', '2_x', '2_y']
['0_x', '0_y', '1_x', '1_y', '2_x', '2_y', '3_x', '3_y']
['0_x', '0_y', '1_x', '1_y', '2_x', '2_y', '3_x', '3_y', '4_x', '4_y']
['0_x', '0_y', '1_x', '1_y', '2_x', '2_y', '3_x', '3_y', '4_x', '4_y', '5_x', '5_y']
['0_x', '0_y', '1_x', '1_y', '2_x', '2_y', '3_x', '3_y', '4_x', '4_y', '5_x', '5_y', '6_x', '6_y']
['0_x', '0_y', '1_x', '1_y', '2_x', '2_y', '3_x', '3_y', '4_x', '4_y', '5_x', '5_y', '6_x', '6_y', '7_x', '7_y']
['0_x', '0_y', '1_x', '1_y', '2_x', '2_y', '3_x', '3_y', '4_x', '4_y', '5_x', '5_y', '6_x', '6_y', '7_x', '7_y', '8_x', '8_y']
['0_x', '0_y', '1_x', '1_y', '2_x', '2_y', '3_x', '3_y', '4_x', '4_y', '5_x', '5_y', '6_x', '6_y', '7_x', '7_y', '8_x', '8_y', '9_x', '9_y']

### 補充：循環兩兩相減寫法

In [31]:
# 循環相減
diff_test = pd.DataFrame()
print(diff_test.head())

list_diff_test = diff_test.columns.values
print(list_diff_test)
for i in list_x:
    for j in list_y:
            d = x[i] - y[j]
            diff_test['d_x' + str(i) + '_y' + str(j)] = d # Add new column which is the result of multiplying columns i and j together

print( diff_test.head())

list_diff_test = diff_test.columns.values
print(list_diff_test)

Empty DataFrame
Columns: []
Index: []
[]
     d_x0_y0    d_x0_y1    d_x0_y2    d_x0_y3    d_x0_y4    d_x0_y5  \
0 -38.501986  48.885522 -15.134448  22.813384  -7.047738  14.179164
1  23.270194  45.452739  96.758033  20.676927  11.821870  73.914560
2  41.410302 -31.957058 -48.384507 -22.985973 -28.740210  24.759712
3  -1.694106 -40.041619 -22.456340 -70.477283 -68.780974  -0.017998
4  20.664191  63.683861  34.811478  -6.072475  58.068401  14.314257

     d_x0_y6    d_x0_y7    d_x0_y8    d_x0_y9  ...    d_x9_y0    d_x9_y1  \
0  54.962490  -7.832191  -4.910880  -0.322846  ... -41.235277  46.152231
1   5.747708  81.405546  28.121393  94.395086  ...  -6.236751  15.945794
2  16.891502 -45.220997 -54.849497 -37.495612  ...   1.979081 -71.388279
3 -59.868386 -69.781021 -61.678773 -97.227466  ...  24.315090 -14.032424
4 -32.210739  41.378587  27.167074  46.485549  ...  24.814821  67.834491

     d_x9_y2    d_x9_y3    d_x9_y4    d_x9_y5    d_x9_y6    d_x9_y7  \
0 -17.867739  20.080093  -9.781029  11.445873  52.229199 -10.565482
1  67.251088  -8.830018 -17.685075  44.407616 -23.759237  51.898601
2 -87.815728 -62.417194 -68.171431 -14.671509 -22.539719 -84.652218
3   3.552855 -44.468088 -42.771779  25.991197 -33.859191 -43.771826
4  38.962108  -1.921845  62.219031  18.464887 -28.060109  45.529217

     d_x9_y8    d_x9_y9
0  -7.644171  -3.056137
1  -1.385551  64.888141
2 -94.280718 -76.926832
3 -35.669578 -71.218271
4  31.317704  50.636179

[5 rows x 100 columns]
['d_x0_y0' 'd_x0_y1' 'd_x0_y2' 'd_x0_y3' 'd_x0_y4' 'd_x0_y5' 'd_x0_y6'
 'd_x0_y7' 'd_x0_y8' 'd_x0_y9' 'd_x1_y0' 'd_x1_y1' 'd_x1_y2' 'd_x1_y3'
 'd_x1_y4' 'd_x1_y5' 'd_x1_y6' 'd_x1_y7' 'd_x1_y8' 'd_x1_y9' 'd_x2_y0'
 'd_x2_y1' 'd_x2_y2' 'd_x2_y3' 'd_x2_y4' 'd_x2_y5' 'd_x2_y6' 'd_x2_y7'
 'd_x2_y8' 'd_x2_y9' 'd_x3_y0' 'd_x3_y1' 'd_x3_y2' 'd_x3_y3' 'd_x3_y4'
 'd_x3_y5' 'd_x3_y6' 'd_x3_y7' 'd_x3_y8' 'd_x3_y9' 'd_x4_y0' 'd_x4_y1'
 'd_x4_y2' 'd_x4_y3' 'd_x4_y4' 'd_x4_y5' 'd_x4_y6' 'd_x4_y7' 'd_x4_y8'
 'd_x4_y9' 'd_x5_y0' 'd_x5_y1' 'd_x5_y2' 'd_x5_y3' 'd_x5_y4' 'd_x5_y5'
 'd_x5_y6' 'd_x5_y7' 'd_x5_y8' 'd_x5_y9' 'd_x6_y0' 'd_x6_y1' 'd_x6_y2'
 'd_x6_y3' 'd_x6_y4' 'd_x6_y5' 'd_x6_y6' 'd_x6_y7' 'd_x6_y8' 'd_x6_y9'
 'd_x7_y0' 'd_x7_y1' 'd_x7_y2' 'd_x7_y3' 'd_x7_y4' 'd_x7_y5' 'd_x7_y6'
 'd_x7_y7' 'd_x7_y8' 'd_x7_y9' 'd_x8_y0' 'd_x8_y1' 'd_x8_y2' 'd_x8_y3'
 'd_x8_y4' 'd_x8_y5' 'd_x8_y6' 'd_x8_y7' 'd_x8_y8' 'd_x8_y9' 'd_x9_y0'
 'd_x9_y1' 'd_x9_y2' 'd_x9_y3' 'd_x9_y4' 'd_x9_y5' 'd_x9_y6' 'd_x9_y7'
 'd_x9_y8' 'd_x9_y9']

In [34]:
## 生成隨機值
a = pd.DataFrame(np.random.uniform(0, 100, size=(3, 3)), columns=list('012'))
b = pd.DataFrame(np.random.uniform(0, 100, size=(3, 3)), columns=list('012'))

In [72]:

def min_distance(data1, data2, n):
   
    
    # 令list_x; list_y
#    list_data1 = data1.columns.values
#    list_data2 = data2.columns.values
    
    # 設 key
    data1['key'] = 1
    data2['key'] = 1
    
    # merge : Cross join(x, y)
    diff = pd.merge(data1, data2, on='key').drop('key', 1)
    
    # 令list_x; list_y
    del data1['key']
    del data2['key']
    list_data1 = data1.columns.values
    list_data2 = data2.columns.values
    
    # 新增欄位Group
    group = []
    for i in list_data1:
        for j in list_data1:
            di_group = ('x' + i + 'y' + j)
        #print(di_group)
            group += [di_group]
        print(group)
    
    # 合併group到 diff
    diff['group'] = group
    
    # 計算 xiyi = (xi-yi) ** 2
    for i in list_data1:
        diff['x' + i + 'y' + i] = (diff[i + '_x'] - diff[i + '_y']) ** 2
        
    # 計算Distance= sum(xiyi) ** 0.5
    diff['Distance'] = diff.iloc[:,2*n+1:3*n].sum(axis=1) ** .5
    
    # 對Distance做排序
    diff_sort = diff.sort_values(['Distance'], ascending=True)
    
    # 找出最小值
    answer = ['Minimun Distance is group: '+ diff_sort['group'].iloc[0] \
              + ' and value is '+ str(diff_sort['Distance'].iloc[0])]

    
    return answer

In [73]:
min_distance(a, b, 3)

['x0y0', 'x0y1', 'x0y2']
['x0y0', 'x0y1', 'x0y2', 'x1y0', 'x1y1', 'x1y2']
['x0y0', 'x0y1', 'x0y2', 'x1y0', 'x1y1', 'x1y2', 'x2y0', 'x2y1', 'x2y2']

['Minimun Distance is group: x0y0 and value is 3.0421191485401105']